<div class="question_new">
    <div class="description">
        <h1>テストガチャ</h1>
        <p>ポイントを使ってテストガチャを回してみよう！<br>問題は国語・数学・英語の３科目からランダムで作られるよ！<br>高得点目指して頑張ろう！</p>
        <p>注意:テストガチャのボタンを押すとすぐに始まります。制限時間は○分です</p>
    </div>
    <div class="button">
        <p class='btn'><a href="/questions/answer">ガチャを回す</a></p>
    </div>
    <p>100ポイント消費</p>
</div>

