<div id="topwrap2">
    <div class="back">
        <div class="form-wrapper">
            <h3>ログイン</h3>
            <%= form_for(:session, url: login_path) do |f| %>
                <div class="form-item">
                    <label for=mail></label>
                    <%= f.text_field :mail,placeholder: "メールアドレス"%>
                </div>
                <div class="form-item">
                    <label for=password></label>
                    <%= f.text_field :password,placeholder: "パスワード"%>
                </div>
                <div class="form-btn">
                    <%= f.submit 'ログイン',{class:'btn-sticky'} %>
                </div>
            <% end %>
        </div>
    </div>
</div>
