<div class="post-questions-list-wrap">
    <h1>問題一覧</h1>
    <% @post_question.each do |post| %>
        <a href='/posts/questions/start/<%= post.id %>'><p><%= post.name %></p></a>
        <p><%= post.explanation %></p>
    <% end %>
</div>