<div class="wrap">
    <div class="top">
        <h1>Capsule Study</h1>
        <h2>勉強を楽しく続けよう！！</h2>
        <p class="sentence"><span>Capsule Study</span>とは勉強を楽しく続けたい人向けのwebアプリです。<br>貯めたポイントでテストガチャを引き
        <br>問題を解いて点数に応じてポイントゲット！<br>高得点目指して頑張ろう！！</p>
        <p class="btn"><a href="/new">新規登録</a></p>
        <p class="btn"><a href="/login">ログイン</a></p>
    </div>
</div>
