<div id="topwrap">
    <div class="title text-center">
            <h1>Capsule Study</h1>
            <h2>~勉強を楽しく続けよう！~</h2>
        <!-- row -->
        <div class="btns textcenter mt-4">
            <div class="btn">
                <a href="/new" class="btn-sticky">新規登録</a>
            </div>
            <div class="btn">
                <a href="/login" class="btn-sticky">ログイン</a>
            </div>
        </div>
    </div>
    <!-- container -->
    <!-- headerwrap -->
    <div class="title2">
        <div class="concept">
            <h3><span>Capsule Study</span>とは？</h3>
            <p>勉強を楽しく続けて欲しいという願いから考えられたアプリケーションです。</p>
        </div>

        <div class="content-group row centered">
            <div class="content">
                <h4>問題ガチャ</h4>
                <p>およそ100問ある問題から<br>ランダムに解いていこう</p>
                <%= image_tag '/images/capsule.png' ,:width => '300', :height => '400' %>
            </div>
            <!-- col-lg-4 -->

            <div class="content">
                <h4>シェア</h4>
                <p>勉強の進捗度、勉強方法などなど…<br>様々なシェアをしよう</p>
                <%= image_tag '/images/share.png',:width => '300', :height => '300'%>
            </div>
            <!-- col-lg-4 -->

            <div class="content">
                <h4>ポイント</h4>
                <p>問題を解いてポイント獲得を目指そう</p>
                <%= image_tag '/images/point.png',:width => '300', :height => '300' %>
            </div>
        </div>

        <div class="last-concept">
            <h3>勉強を継続して目標を達成しよう</h3>
            <div class="home-index-btn">
                <a href="/new" class="btn-sticky">新規登録</a>
            </div>
        </div>
    </div>
</div>