<div id="topwrap">
    <div class="container">
      <div class="text-center">
          <h1>Capsule Study</h1>
          <h2>~勉強を楽しく続けよう！~</h2>
      </div>
      <!-- row -->
      <div class="btns textcenter mt-4">
        <div class="btn">
            <a href="/new" class="btn-sticky">新規登録</a>
        </div>
        <div class="btn">
            <a href="/login" class="btn-sticky">ログイン</a>
        </div>
      </div>
    </div>
    <!-- container -->
</div>
  <!-- headerwrap -->

<div class="content-wrap">
  <div class="container text-center">
    <h1>capsule_studyとは？</h1>
    <p>誰でも勉強を楽しく続けられるように、勉強の継続を手助けすることを目指して考えられたwebアプリケーションです。</p>
  </div>
  
  <div class="container text-center">
      <div class="row centered">
        <div class="col-lg-4">
          <h4>問題ガチャ</h4>
          <p>問題をとけるよ</p>
          <p>画像</p>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-4">
          <h4>投稿</h4>
          <p>投稿できるよ</p>
          <p>画像</p>
        </div>
        <!-- col-lg-4 -->

        <div class="col-lg-4">
          <h4>ポイント</h4>
          <p>ポイントでガチャをひこう</p>
          <p>画像</p>
        </div>
        <!-- col-lg-4 -->
      </div>
      <!-- row -->
      <br>
      <br>
  </div>

  <div class="container text-center">
    <h1>勉強を継続して目標を達成しよう</h1>
    <div class="text-center">
      <a href="#" class="btn-sticky">新規登録</a>
    </div>
  </div>
</div>
