<div class="edit_form">
    <h1>投稿編集</h1>
    <%= form_for(@post, url:{controller:'posts', action:'edit', id:@post.id}) do |f| %>
    <div class="form-group">
        <label for="content">内容</label>
        <%= f.text_area :content ,{class:"form-control"} %>
    </div>
    <div class="button">
        <%= f.submit '更新',{class:'btn2'} %>
    </div>
    <% end %>
</div>