.footer p{
    margin-right: 10px;
    margin-bottom: 0px;
  }

  .footer{
    position: absolute;/* ←絶対位置 */
    bottom: 0;
    
    /* 以下 背景色やテキストカラーなどはお好みで指定してください */
    background: #1d1b3f;
    color: #fff;
    height: 100px;
    text-align: right;
    width:100%;
   }