.nav-wrap .menu{
    width:100%;
    text-align: right;
}

.navbar-collapse{
    background-color: #ededed;
}

.navbar-collapse .nav-item{
    background-color:#ededed;
}

.navbar-collapse a{
    color:#ff7733;
}