// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.wrap{
    height:100%;
    background-image: url("/background/bankyou.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;

}

.top, .login, .new{
    padding-top: 50px;
    padding-left:20px
}

.top h1,.login h1,.new h1{
    font-size:80px;
    color:#0E73ED;
    text-shadow: 5px 2px 3px white;
}

.top h2{
    color:#D68200;
    padding-top:40px;
    text-shadow: 1px 1px 3px black;

}

.top .sentence{
    padding-top:40px;
    color:#ffffff;
    text-shadow: 1px 1px 3px black;
    line-height: 2;
    font-size: 20px;
}


.btn{
    margin-top:100px;
    margin-left:60px;
}

.btn a{
    font-size:20px;
    background-color:#D68200;
    width:150px;
    display:block;
    color:#ffffff;
    line-height:40px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
}

.btn a:hover{
    text-decoration: none;
    color:#D6D6D6;
    background-color:#B87C0D;
}

span{
    color:#0E73ED;
    text-shadow: 1px 1px 3px white;
}

.btn2{
    font-size: 20px;
    width:150px;
    border:none;
    background-color:#D68200;
    border-radius: 10px;
    line-height: 35px;
    color:#ffffff;
    text-shadow: 1px 1px 3px black;
}

.btn2:hover{
    text-decoration: none;
    color:#D6D6D6;
    background-color:#B87C0D;
}