.post-questions-start-wrap{
    text-align: center;
    padding-top: 100px;
    padding-bottom: 150px;
}

.post-questions-start-wrap .tbl-r02{
    width:50%;
    margin:0px auto;
}

.post-questions-start-wrap .question{
    margin-top: 30px;
    margin-bottom: 20px;
}

.post-questions-start-wrap .question .number{
    border: 1px solid #ccc;
    width:30%;
}

.post-questions-start-wrap .point{
    margin-top: 30px;
}

.post-questions-start-wrap p{
    margin-top: 50px;
}

.post-questions-start-wrap span{
    font-size: 17px;
    font-weight: bold;
}

.post-questions-start-wrap .post-questions-btn{
    margin-top: 60px;
}
