.question-index-wrap{
    padding-top: 100px;
    padding-bottom: 150px;
}

.question-index-wrap h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #3399ff, -1px 1px 1px #3399ff, 1px -1px 1px #3399ff, -1px -1px 1px #3399ff,
        1px 1px 1px #3399ff, -1px 1px 1px #3399ff, 1px -1px 1px #3399ff, -1px -1px 1px #3399ff;
}

.question-btn .btn-sticky{
    border-bottom: none;
    border-right: none;
    border-top: none;
}

.question-form{
    margin-top: 50px;
}

.question-form textarea{
    resize: none;
}

.question-form label{
    font-size: 20px;
}

.question-btn{
    margin-top: 50px;
}
