input[type="password"] {
    margin-bottom: 20px;
  }
  
  
  

  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400);

  /* fontawesome */
  @import url(http://weloveiconfonts.com/api/?family=fontawesome);
  [class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
  }
  
  /* Simple Reset */
  * { margin: 0; padding: 0; box-sizing: border-box; }
  
  
  /* Form Layout */

  .back{
    height:100vh;
    background: url("/background/study1.jpg") no-repeat center ;
    background-attachment:fixed ;
    background-position: center center;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 20vh;
  }
  .form-wrapper {
    background:rgba(250,250,250,0.7);
    margin: 0 auto;
    padding: 0 1em 3em 1em;
    max-width: 370px;
    text-align: center;
  }
  
  .form-wrapper h1 {
    padding: 0.5em 0;
  }
  
  .form-item {
    margin-bottom: 0.75em;
    width: 100%;
  }
  
  .form-item input {
    background: #fafafa;
    border: none;
    border-bottom: 2px solid #e9e9e9;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    height: 50px;
    transition: border-color 0.3s;
    width: 100%;
  }
  
  .form-item input:focus {
    border-bottom: 2px solid #c0c0c0;
    outline: none;
  }