.mypage-wrap{
    padding: 70px 0px 100px 0px;
}

.mypage-wrap h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #3399ff, -1px 1px 1px #3399ff, 1px -1px 1px #3399ff, -1px -1px 1px #3399ff,
        1px 1px 1px #3399ff, -1px 1px 1px #3399ff, 1px -1px 1px #3399ff, -1px -1px 1px #3399ff;
}

.mypage-wrap .content{
    padding:20px 30px;
}

.mypage-wrap .mylist .head{
    font-size: 25px;
    text-decoration: none;
}

.mypage-wrap .mylist a:hover{
    color:black;
}

.mypage-wrap .mylist .icon{
    margin-right: 10px;
}

.mypage-wrap .mylist .mylist-content{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 5px 2px 7px 0px #dcdcdc;
}

.mypage-wrap .mylist .mylist-content div{
    margin:20px;
}

.mypage-wrap .mylist .mylist-content .tbl-r02{
  width: 100%;
}

.mypage-wrap .mylist .tbl-r02 td{
    text-align: center;
}

.mypage-wrap .mylist .tbl-r02 .name{
    width: 30%;
}

.mypage-wrap .mylist .tbl-r02 .explanation{
    width: 40%;
}


.mypage-wrap .mylist .tbl-r02 .solution{
    width:20%;
}

.mypage-wrap .mylist .tbl-r02 .td{
    width: 10%;
}

.data1{
    text-align: center;
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 5px 2px 7px 0px #dcdcdc;
    margin-bottom:25px;
}

.data1 h2{
    text-align: center;
    font-size: 20px;
    margin-bottom:20px;
    color:white;
    background-color: #e9727e;
    width:40%;
    padding: 5px;
    border:1px solid black;
}

.data1 .tbl-r02{
    width: 100%;
}

.user_questions{
    text-align: center;
    width:80%;
    padding: 20px;
    border-radius: 10px;
  box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 5px 2px 7px 0px #dcdcdc;
}

.user_questions h2{
    text-align: center;
    font-size: 20px;
    margin-bottom: 20px;
    background-color: #e9727e;
    color:white;
    width:40%;
    padding: 5px;
    border:1px solid black;
}

.user_questions .tbl-r02{
    width: 100%;
}

.tbl-r02 a{
    text-decoration: none;
    color: black;
}

.tbl-r02 .td{   
    position:relative;
}

.data1 .tbl-r02 .edit:hover{
    color: #3399ff;
}

.data1 .tbl-r02 .delete:hover{
    color:#3399ff;
}

.tbl-r02 .td:hover .delete-box{
    z-index: 2;
	display: block
}

.tbl-r02 .td:hover .edit-box{
    z-index: 2;
	display: block
}

.mypage-wrap .content{
    display: flex;
    text-align: left;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 0px 8px 16px -2px rgba(10,10,10,0.1), 5px 2px 7px 0px #dcdcdc;
}

.image{
    text-align: left;
    vertical-align: top;
}

.image p{
    font-size: 25px;
}

.introduce{
    margin-left: 50px;
    flex-basis: 80%;
}

.introduce p{
    font-weight: bold;
}


.box{
    padding: 1em 1em;
    background: #fff;
    border: solid 3px #3399ff; /*線*/
    border-radius: 10px; /*角の丸み*/
}

.profifle-btn{
    text-align: right;
    margin-top: 30px;
}

.delete-box{
    position:absolute;
	width: 50px; /* 吹き出しの幅 */
	height: 30px; /* 吹き出しの高さ */
	top: -20px; /* 吹き出しと三角形の高さをプラスした値 */
	left: 0px;
	border-radius: 10px 10px 10px 10px;
	background-color: #ff7733;
	display: none;
}


.delete-box .text{
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #fff;
    font-weight: 400;
	position: absolute;
	top: 0px;
	left: 10px;
}

.edit-box{
    position:absolute;
	width: 50px; /* 吹き出しの幅 */
	height: 30px; /* 吹き出しの高さ */
	top: -20px; /* 吹き出しと三角形の高さをプラスした値 */
	left: 0px;
	border-radius: 10px 10px 10px 10px;
	background-color: #ff7733;
	display: none;
}

.edit-box .text{
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #ffffff;
    font-weight: 400;
	position: absolute;
	top: 0px;
	left: 10px;
}

@media screen and (min-width:992px) {
    .delete-box{
        position:absolute;
        width: 50px; /* 吹き出しの幅 */
        height: 30px; /* 吹き出しの高さ */
        top: -30px; /* 吹き出しと三角形の高さをプラスした値 */
        left: 0px;
        border-radius: 10px 10px 10px 10px;
        background-color: #ff7733;
        display: none;
    }
    
    .delete-box .text{
        font-size: 16px;
        letter-spacing: 1.5px;
        color: #ffffff;
        font-weight: 400;
        position: absolute;
        top: 0px;
        left: 10px;
    }
    
    .edit-box{
        position:absolute;
        width: 50px; /* 吹き出しの幅 */
        height: 30px; /* 吹き出しの高さ */
        top: -30px; /* 吹き出しと三角形の高さをプラスした値 */
        left: 0px;
        border-radius: 10px 10px 10px 10px;
        background-color: #ff7733;
        display: none;
    }

    
    .edit-box .text{
        font-size: 16px;
        letter-spacing: 1.5px;
        color: #ffffff;
        font-weight: 400;
        position: absolute;
        top: 0px;
        left: 10px;
    }
}
  
  @media screen and (min-width:1500px){

  .content2{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      margin-bottom: 100px;
  }

  .data1{
      width: 40%;
  }



  .user_questions{
      width: 40%;
  }
}