.profile-edit-wrap{
    text-align: center;
    padding: 70px 0 200px 0;
}


.profile-edit-wrap h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
    text-shadow: 1px 1px 1px #3399ff, -1px 1px 1px #3399ff, 1px -1px 1px #3399ff, -1px -1px 1px #3399ff,
        1px 1px 1px #3399ff, -1px 1px 1px #3399ff, 1px -1px 1px #3399ff, -1px -1px 1px #3399ff;
}

.profile-edit{
    margin-top: 50px;
}

.profile-edit input{
    border: 1px solid black;
}

.profile-edit textarea{
    resize: none;
    border: 1px solid black;
}

.profile-edit label{
    margin-bottom:20px;
    font-size: 20px;
}

.form-group{
    margin:50px 0;
}

.help-block{
    margin-top: 5px;
}

.edit-btn .btn-sticky{
    border-top:none;
    border-bottom: none;
    border-right:none;
}

.profile-edit .edit-btn{
    margin-top: 50px;
}