// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.name{
    float:left;
}

.clear{
    clear:both;
}

.button1{
   width:550px;
   margin: 10px auto;
}

.profile{
    position: fixed;
    position: absolute;
    width:100%;
}

.data1{
    margin-top: 370px;
    width: 100%;
    height:60%;
    overflow: auto;
    background-color:#fff;
}

.self{
    float:left;
}

.edit_btn{
    float:left;
    margin-right:100px;
}

.edit_btn a{
    font-size:20px;
    background-color:#D68200;
    width:150px;
    display:block;
    color:#ffffff;
    line-height:40px;
    border-radius: 10px;
    text-shadow: 1px 1px 3px black;
    text-align: center;
    margin:auto;
}

.edit_btn a:hover{
    text-decoration: none;
    color:#D6D6D6;
    background-color:#B87C0D;
}

.clearfix::after{
    content:"";
}

.edit_link{
    width:30%;
    text-align: center;
    margin: 0 20% 0 auto;
}

.box1 {
    padding: 0.5em 1em;
    margin: 2em 0;
    border: double 5px #4ec4d3;
    width: 50%;
    height:150px;
    overflow: auto;
    margin:auto;
}
.box1 p {
    margin: 0; 
    padding: 0;
}

.content{
    width:60%;
    margin:0 0 0 auto;
}

.introduce{
    width:20%;
}