<div class="sidebar">
    <ul>
        <li><a href="/posts">アイコン</a></li>
        <li>ハンガー</li>
        <li><a href="/users/show">ユーザー画像</a></li>
        <li><a href="/questions/new">問題</a></li>
        <li>ポイント</li>
    </ul>
</div>